__pycache__/
*.pyc
.git/
saved_models/
.DS_Store
.vscode/
.idea/
*.ipynb_checkpoints
*.log
myenv/
lightfm-env/
.env
.pytest_cache/
.mypy_cache/
.coverage
.gitignore
README.md
tests/__pycache__/
tests/*.pyc
ml-1m/
docs/assets/Movies.png
docs/assets/UserID.png 